/* Dropdown */

.hide-dropdown-list {
  visibility: hidden;
}


/* Carousel */

.carousel-container {
  overflow-x: clip;
  position: relative;
}

.carousel-content {
  display: flex;
  width: fit-content;
}

.carousel-content > .slide {
  flex-shrink: 0;
}

.carousel-increment-buttons {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -40px;
  display: flex;
  gap: 5px;
}
